API_ID=11796331 # get this value from my.telegram.org

API_HASH=a089161b52f234bb90a6eb915551e8c0 # get this value from my.telegram.org

BOT_TOKEN=5742058322:AAEPtOFU0grV0zuE_rnUCkWX1cnzJy6X25U:ghsdvkhsvchsuhdc # get this value from @Botfather

MONGO_DB_URI=mongodb+srv://Pikku:pikku03@cluster0.nyhqhkk.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com

LOG_GROUP_ID=-1001772857132 # get this value from in your log group 

MUSIC_BOT_NAME=nancy # your music bot name 

STRING_SESSION=AQBz9x4JsP-ylD0vaDHYkwoTRvE12xpBE6HS7q06hqbJYlIUMol12vuhB0KkaSvYAQ4G2Y1sYJyGGuaPcJsHR8RomPFAOO_swJmnTPGB_hdOfopzGlJ1VpUg5O7-Eh4ZTgdjuxYdIjm--iMhHT26WI8h0j7Wsi7jGJ8nFdHr5B81qxzW2OK0M72cQp9uJaaoppUeza0V69hZAGxmqnJZAg3WqQ56WLCPaf4TYLBVpRSkG11-GEFmDxNJ7JVjuuH0pGS4R4LH-lR8MHyt2SqAEfFxO0dnmLNINllo6SN21gQnGn3IfD6RKNUS5HX_6b4VSLUJuZXw9mritXKKOjcoS2JPAAAAAVkkESEA

OWNER_ID=1463712862 5688884622
